# Required so actions/checkout "Removing auth" (git submodule foreach) does not fail with
# "No url found for submodule path 'verifrax-freeze/v2.8.0/source/VERIFRAX' in .gitmodules"
[submodule "verifrax-freeze/v2.8.0/source/VERIFRAX"]
	path = verifrax-freeze/v2.8.0/source/VERIFRAX
	url = https://github.com/Verifrax/VERIFRAX.git
