name: Release

on:
  workflow_dispatch:
  push:
    tags:
      - 'v*'

permissions: read-all

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write

    steps:
      - name: Checkout
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4

      - name: Build artifact
        run: |
          mkdir -p dist
          tar -czf dist/verifrax-src.tar.gz .

      - name: Generate provenance
        uses: slsa-framework/slsa-github-generator/.github/workflows/generator_generic_slsa3.yml@v2.0.0
        with:
          base64-subjects: $(printf "dist/verifrax-src.tar.gz" | base64 -w0)

      - name: Create GitHub Release
        uses: softprops/action-gh-release@9d7e5d1ffb1dd2a7f6b1a552c43e8648bb2a5db3 # v2
        with:
          files: dist/*
